@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url(bootstrap.css);
body {
  background: url("images/bg.jpg");
  background-size: cover; }

.services-container {
  border: 1px solid #ccc;
  margin-top: 70px; }

nav {
  float: left; }
  nav a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    float: left;
    padding: 0 5px;
    line-height: 70px; }
    nav a:hover {
      color: #ffac55; }
    nav a.active {
      color: #ffac55; }

a {
  color: inherit;
  text-decoration: none; }

.logo-holder {
  float: left; }
